pipeline/LookupandFilter.json
{
	"name": "LookupandFilter",
	"properties": {
		"activities": [
			{
				"name": "Lookup user_info",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ADLS_AzureSqlTable_ey_ns_training",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter by country united states",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup user_info",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().country,'United States')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Filter by region virginia",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup user_info",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@and(equals(item().country,'United States'),equals(item().region,'Virginia'))",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}